{% extends "base.html" %} 


{% block titulo_pagina %}
    <h2>Exercício-1</h2>
{% endblock %} 

{% block conteudo %}

<p>Retornar, sem duplicação, os valores do campo UF da tabela
de Municípios. Ordenar pelo nome da UF.</p>

    <div class="dashboard">

        <table>
            <thead>
                <th>Nome da UF</th>
            </thead>
            <tbody>
                {% for i in dados %}
                    {% for uf in i %}
                        <tr>
                            <td>{{uf}}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        
    </div>

{% endblock %}
