{% extends "base.html" %} 
{% load humanize %}

{% block titulo_pagina %}
    <h2>Exercício-2</h2>
{% endblock %} 

{% block conteudo %}

<p>Retornar a média do ENADE agrupada por área e curso,
somente para aquelas áreas e cursos com a média do
ENADE >= 3. Ordenado por área e curso</p>

<table>
    <thead>
        <tr>
            <th>Área</th>
            <th>Curso</th>
            <th>Média ENADE</th>
        </tr>
    </thead>
    <tbody>
        {% for area, curso, enade in dados %}
        <tr>
            <td>{{ area }}</td>
            <td>{{ curso }}</td>
            <td>{{ enade|intcomma }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
