{% extends "base.html" %}

{% block titulo_pagina %}
    <h2>Exercício-4</h2>
{% endblock %}  

{% block conteudo %}
    <!-- TABELA HTML COM OS REGISTROS -->
    <table>
        <!-- CABECALHO DA TABELA HTML -->
        <thead>
            <tr>
                <th>Fabricante</th>
                <th>Modelo</th>
                <th>Cor</th>
                <th>Placa</th>
                <th>Preço</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <!-- LINHAS DA TABELA HTML CONTENDO OS REGISTROS -->
        <tbody>
            <!-- LOOP PARA PEGAR CADA REGISTRO -->
            {% for reg in registros %}
            <tr>
                <td>{{ reg.Fabricante }}</td>
                <td>{{ reg.Modelo }}</td>
                <td>{{ reg.Cor }}</td>
                <td>{{ reg.Placa }}</td>
                <td>{{ reg.Preco }}</td>
                <td>{{ reg.Categoria }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


